body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Manrope);
    background-color: var(--Light-Grayish-Blue);
}

.section-main {
    width: 730px;
    height: 280px;
    display: flex;
}

.img-image {
    width: 285px;
    display: flex;
}

.img-image img {
    border-radius: 10px 0 0 10px;
}

.div-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF;
    padding: 33px 40px;
    border-radius: 0 15px 15px 0;
}

.div-info h1 {
    max-width: 350px;
    font-size: 20px;
    letter-spacing: .25px;
    line-height: 28px;
    color: var(--Very-Dark-Grayish-Blue);
}

.div-info .p-section {
    max-width: 350px;
    font-size: 13px;
    letter-spacing: .11px;
    line-height: 20px;
    color: var(--Grayish-Blue);
    margin-top: 11px;
}

.div-perfil {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.div-perfil .img-perfil {
    width: 40px;
    border-radius: 50%;
    padding-top: 2px;
}

.div-perfil-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.div-perfil-info p:first-child {
    font-size: 13px;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
    letter-spacing: .11px;
    padding-top: 2px;
}

.div-perfil-info p:last-child {
    font-size: 13px;
    font-weight: 700;
    color: var(--Grayish-Blue);
    letter-spacing: -.11px;
    padding-top: 2px;
}

.div-perfil .img-share {
    width: 34px;
    height: 34px;
    text-align: center;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    padding: 10px 0;
    margin-left: auto;
}

.div-perfil .img-share.active path{
    fill: #FFF;
}

.div-footer {
    width: 246px;
    height: 55px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15%;
    bottom: 34%;
    gap: 16px;
    background-color:var(--Very-Dark-Grayish-Blue);
    border-radius: 10px;
}

.div-footer p {
    font-size: 13px;
    color: var(--Grayish-Blue);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.div-footer::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--Very-Dark-Grayish-Blue);
    margin-bottom: -20%;
    transform: rotate(45deg);
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 16px;
}

.redes-sociais li {
    display: flex;
}

.redes-sociais li:nth-child(2){
    padding-top: 3px;
}

.redes-sociais li .social {
    width: 20px;
    height: 20px;
    cursor: url(https://github.com/HumbertoFox/repository/assets/126817628/ef5feb7b-75d4-47ee-a596-7be253492ebd), auto;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}